<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title layout:title-pattern="$DECORATOR_TITLE">RA国际机器人大赛</title>
        <link rel="stylesheet" href="/layui/css/layui.css"/>
        <link rel="stylesheet" href="/css/admin.css"/>
        <link rel="stylesheet" href="/css/fastui.css"/>
        <script src="/layui/layui.js"></script>

    </head>
    <body>
        <div th:replace="layout/header::header">&nbsp;</div>
        <div layout:fragment="content"></div>
        <div th:replace="layout/footer::footer">&nbsp;</div>
    </body>
</html>