.login-backgroud {
    background: url(../images/login/bg1.png) no-repeat right center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

.login-card {
    position: absolute;
    top: 20%;
    right: 15%;
}

.login-body {
    width: 300px;
    height: 800px;
}