<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>FastUI</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/admin.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/fastui.css"/>
</head>

<body>
<div class="fastui-screen">
    <header class="fastui-header">
        <div class="fastui-logo">
            <img src="../../static/images/logo.png"/>
            <span>财务中台</span>
        </div>
        <ul class="layui-nav fastui-menubar">
            <li class="layui-nav-item layui-this">
                <a href="ucuser.html">我的</a>
            </li>
            <li class="layui-nav-item">
                <a href="appadmin.html">管理</a>
            </li>
        </ul>
        <ul class="layui-nav fastui-usercenter" lay-filter="user_operation">
            <li class="layui-nav-item fastui-product">
                <a href="javascript:void(0);"><i class="layui-icon">&#xe653;</i>我的应用</a>
            </li>
            <li class="layui-nav-item fastui-product">
                <a href="javascript:void(0);"><i class="layui-icon">&#xe66f;</i>龙斌</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="#">个人设置</a>
                    </dd>
                    <dd>
                        <a href="login.html">退出系统</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </header>
    <div class="fastui-twomenu-bg">
        <ul class="fastui-menu-wrapper">
            <li><a href="ucuser.html">首页</a></li>
            <li>
                <a href="javascrpt:;">消息<i class="layui-icon">&#xe625;</i></a>
                <ul class="fastui-two-menu">
                    <li><a href="news.html">收到消息</a></li>
                    <li><a href="sendnew.html">发送消息</a></li>
                </ul>
            </li>
            <li><a href="single.html">日志</a></li>
            <li><a href="single.html">设置</a></li>
        </ul>
    </div>
    <div class="fastui-single-content">
        <div class="layui-row">
            <div class="layui-col-xs12">
                <div class="layui-card">
                    <div class="layui-card-header fastui-card-header">收到消息</div>
                    <div class="layui-card-body fastui-content-style">
                        <table class="layui-hide" id="fastui-news-table" lay-filter="fastui-news-table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fastui-footer">
				<span class="left">
				  <a href=""><i class="layui-icon">&#xe68e;</i>首页</a>
				  <span>&gt;</span>
				  <a href="">国际新闻</a>
				  <span>&gt;</span>
				  <a href="">亚太地区</a>
				</span>
        <span class="right">财务中台管理系统V1.0.0 Build 4564</span>
    </div>
</div>
</body>
<script type="text/html" id="fastui-news-toolbar">
    <a lay-event="edit">查看</a>
    <a lay-event="del">删除</a>
</script>
<script src="../../static/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['jquery', 'table'], function ($) {
        var table = layui.table;
        table.render({
            elem: '#fastui-news-table',
            size: 'sm',
            cols: [[
                {type: 'checkbox'}
                , {field: 'id', title: 'ID', width: 80}
                , {field: 'username', title: '用户名'}
                , {field: 'sex', title: '性别'}
                , {field: 'city', title: '城市'}
                , {field: 'sign', title: '签名'}
                , {field: 'classify', title: '职业'}
                , {field: 'experience', title: '积分'}
                , {field: 'score', title: '评分'}
                , {title: '操作', toolbar: '#fastui-news-toolbar'}
            ]],
            data: [
                {
                    'id': '1',
                    'username': 'bell',
                    'sex': '女',
                    'city': '北京',
                    'sign': '我是个说故事的男孩子，愿你是个爱听故事的女孩儿',
                    'classify': '程序员',
                    'experience': '33',
                    'score': '100'
                },
                {
                    'id': '1',
                    'username': 'bell',
                    'sex': '女',
                    'city': '北京',
                    'sign': '我是个说故事的男孩子，愿你是个爱听故事的女孩儿',
                    'classify': '程序员',
                    'experience': '33',
                    'score': '100'
                },
                {
                    'id': '1',
                    'username': 'bell',
                    'sex': '女',
                    'city': '北京',
                    'sign': '我是个说故事的男孩子，愿你是个爱听故事的女孩儿',
                    'classify': '程序员',
                    'experience': '33',
                    'score': '100'
                },
                {
                    'id': '1',
                    'username': 'bell',
                    'sex': '女',
                    'city': '北京',
                    'sign': '我是个说故事的男孩子，愿你是个爱听故事的女孩儿',
                    'classify': '程序员',
                    'experience': '33',
                    'score': '100'
                },
                {
                    'id': '1',
                    'username': 'bell',
                    'sex': '我是个说故事的男孩子，愿你是个爱听故事的女孩儿',
                    'city': '北京',
                    'sign': '我是个说故事的男孩子，愿你是个爱听故事的女孩儿',
                    'classify': '程序员',
                    'experience': '33',
                    'score': '100'
                },
                {
                    'id': '1',
                    'username': 'bell',
                    'sex': '我是个说故事的男孩子，愿你是个爱听故事的女孩儿',
                    'city': '北京',
                    'sign': '我是个说故事的男孩子，愿你是个爱听故事的女孩儿',
                    'classify': '程序员',
                    'experience': '33',
                    'score': '100'
                },
            ],
            page: true
        });
        //监听行工具事件
        table.on('tool(fastui-news-table)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                layer.prompt({
                    formType: 2,
                    value: data.city
                }, function (value, index) {
                    obj.update({
                        city: value
                    });
                    layer.close(index);
                });
            }
        });
        $(".fastui-menu-wrapper li").hover(function () {
            $(this).find(".fastui-two-menu").stop().slideDown(200)
        }, function () {
            $(this).find(".fastui-two-menu").stop().slideUp(200)
        });

    });
</script>

</html>