<header class="fastui-header">
    <div class="fastui-logo">
        <img src=""/>
        <span>财务中台</span>
    </div>
    <ul class="layui-nav fastui-menubar">
        <li class="layui-nav-item layui-this">
            <a href="index.html">首页</a>
        </li>
        <li class="layui-nav-item">
            <a href="single.html">单页面</a>
        </li>
        <!--<li class="layui-nav-item"><span></span></li>-->
        <li class="layui-nav-item">
            <a href="window.html">多窗口</a>
        </li>
    </ul>
    <ul class="layui-nav fastui-usercenter" lay-filter="user_operation">
        <li class="layui-nav-item fastui-product">
            <a href="javascript:void(0);"><i class="layui-icon">&#xe653;</i>我的应用
            </a>
        </li>
        <li class="layui-nav-item fastui-product">
            <a href="javascript:void(0);"><i class="layui-icon">&#xe66f;</i>龙斌
            </a>
            <dl class="layui-nav-child">
                <dd>
                    <a href="#">个人设置</a>
                </dd>
                <dd>
                    <a href="login.html">退出系统</a>
                </dd>
            </dl>
        </li>
    </ul>
</header>