<div class="fastui-content-style">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>标准表单的规范</legend>
    </fieldset>
    <form class="layui-form fastui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">名称框:</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="title" value="" lay-verify="required" autocomplete="off"
                       placeholder="请输入标题"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">手机号:</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="photo" value="" lay-verify="required" autocomplete="off"
                       placeholder="请输入手机号"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">邮箱:</label>
            <div class="layui-input-inline fastui-join-check">
                <input class="layui-input" type="email" name="email" value="" lay-verify="required" autocomplete="off"
                       placeholder="请输入邮箱"/>
                <input type="checkbox" name="" lay-skin="primary" title="待选">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">日期:</label>
            <div class="layui-input-block">
                <div class="layui-input-inline">
                    <input class="layui-input" type="text" id="fastui-date" name="title" value="" autocomplete="off"
                           placeholder="请选择日期"/>
                </div>
                <div class="layui-input-inline" style="width: 510px;">
                    <input type="radio" name="week" value="周一" title="周一" checked="">
                    <input type="radio" name="week" value="周二" title="周二">
                    <input type="radio" name="week" value="周三" title="周三">
                    <input type="radio" name="week" value="周四" title="周四">
                    <input type="radio" name="week" value="周五" title="周五">
                    <input type="radio" name="week" value="周六" title="周六">
                    <input type="radio" name="week" value="周日" title="周日">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">下拉选择框:</label>
            <div class="layui-input-block">
                <div class="layui-input-inline" style="width: 245px;">
                    <select>
                        <option value="">请选择状态</option>
                        <option value="杭州">杭州</option>
                        <option value="温州">温州</option>
                        <option value="温州">台州</option>
                        <option value="温州">绍兴</option>
                    </select>
                </div>
                <div class="layui-input-inline" style="width: 150px;">
                    <select>
                        <option value="">请选择状态</option>
                        <option value="杭州">杭州</option>
                        <option value="温州">温州</option>
                        <option value="温州">台州</option>
                        <option value="温州">绍兴</option>
                    </select>
                </div>
                <div class="layui-input-inline" style="width: 100px;">
                    <select>
                        <option value="">请选择状态</option>

                        <option value="杭州">杭州</option>
                        <option value="温州">温州</option>
                        <option value="温州">台州</option>
                        <option value="温州">绍兴</option>
                    </select>
                </div>
                <div class="layui-input-inline" style="width: 130px;">
                    <input class="layui-input" type="text" id="fastui-date1" name="title" value="" autocomplete="off"
                           placeholder="请选择日期"/>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">文本域:</label>
            <div class="layui-input-block">
                <div class="layui-input-inline" style="width: 80%;">
                    <textarea class="layui-textarea" style=" min-height: 100px;" placeholder="备注"></textarea>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn fastui-btn" lay-submit="" lay-filter="fastui-form-sub">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
    <fieldset class="layui-elem-field layui-field-title">
        <legend>搜索框的规范</legend>
    </fieldset>
    <form class="layui-form">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">第一组</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="text" name="title" value="" autocomplete="off"
                           placeholder="请输入校区名称"/>
                </div>
                <div class="layui-input-inline" style="width: 115px;">
                    <input class="layui-input" type="text" name="photo" value="" lay-verify="required"
                           autocomplete="off" placeholder="请输入手机号"/>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">第二组</label>
                <div class="layui-input-inline">
                    <select>
                        <option value="">请选择状态</option>
                        <option value="杭州">杭州</option>
                        <option value="温州">温州</option>
                        <option value="温州">台州</option>
                        <option value="温州">绍兴</option>
                    </select>
                </div>
                <div class="layui-input-inline" style="width: 115px;">
                    <input class="layui-input" type="text" id="fastui-date2" name="title" value="" autocomplete="off"
                           placeholder="请选择日期"/>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">身份证</label>
                <div class="layui-input-inline" style="width: 180px;">
                    <input type="text" name="identity" lay-verify="identity" placeholder="请输入身份证号" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">金额</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" name="price_min" placeholder="￥" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid">-</div>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" name="price_max" placeholder="￥" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <button class="layui-btn fastui-btn">保存</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    layui.use(['form', 'laydate'], function () {
        var form = layui.form,
            laydate = layui.laydate;
        form.render();
        laydate.render({
            elem: '#fastui-date'
        });
        laydate.render({
            elem: '#fastui-date1'
        });
        laydate.render({
            elem: '#fastui-date2'
        });
        form.on('submit(fastui-form-sub)', function (data) {
            layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            })
            return false;
        });
    })
</script>