<div class="fastui-content-style">
    <div class="fastui-toolbar-btn">
        <button class="layui-btn layui-btn-normal fastui-btn-slide"><i class="layui-icon">&#xe615;</i>搜索<span
                class="layui-badge fastui-badge">1</span></button>
        <div class="fastui-seacher-up layui-row">
            <form class="layui-form">
                <div class="layui-col-xs6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">单行输入框</label>
                        <div class="layui-input-inline">
                            <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题"
                                   class="layui-input">
                        </div>
                    </div>

                </div>
                <div class="layui-col-xs6">

                </div>
            </form>
        </div>
    </div>
    <table class="layui-hide" id="fastui-selftable" lay-filter="fastui-selftable"></table>
</div>
<script type="text/html" id="fastui-toolbar">
    <a lay-event="edit"><i class="layui-icon">&#xe642;</i></a>
    <a lay-event="del"><i class="layui-icon">&#xe640;</i></a>
</script>
<script type="text/javascript">
    layui.use(['jquery', 'table'], function () {
        var table = layui.table,
            $ = layui.jquery;

        table.render({
            elem: '#fastui-selftable'
            , size: 'sm'
            , cellMinWidth: 80
            , cols: [[
                {type: 'checkbox', fixed: 'left'}
                , {field: 'id', title: 'ID', width: 80}
                , {field: 'username', title: '用户名', width: 150}
                , {field: 'sex', title: '性别', width: 100}
                , {field: 'city', title: '城市', width: 200}
                , {field: 'sign', title: '签名', width: 500}
                , {field: 'classify', title: '职业', width: 100}
                , {field: 'experience', title: '积分', width: 100}
                , {field: 'score', title: '评分'}
                , {title: '操作', toolbar: '#fastui-toolbar', width: 120}
            ]]
            , data: [
                {
                    'id': '1',
                    'username': 'bell',
                    'sex': '女',
                    'city': '北京',
                    'sign': '我是个说故事的男孩子，愿你是个爱听故事的女孩儿',
                    'classify': '程序员',
                    'experience': '33',
                    'score': '100'
                },
                {
                    'id': '1',
                    'username': 'bell',
                    'sex': '女',
                    'city': '北京',
                    'sign': '我是个说故事的男孩子，愿你是个爱听故事的女孩儿',
                    'classify': '程序员',
                    'experience': '33',
                    'score': '100'
                },
                {
                    'id': '1',
                    'username': 'bell',
                    'sex': '女',
                    'city': '北京',
                    'sign': '我是个说故事的男孩子，愿你是个爱听故事的女孩儿',
                    'classify': '程序员',
                    'experience': '33',
                    'score': '100'
                },
                {
                    'id': '1',
                    'username': 'bell',
                    'sex': '女',
                    'city': '北京',
                    'sign': '我是个说故事的男孩子，愿你是个爱听故事的女孩儿',
                    'classify': '程序员',
                    'experience': '33',
                    'score': '100'
                },
                {
                    'id': '1',
                    'username': 'bell',
                    'sex': '女',
                    'city': '北京',
                    'sign': '我是个说故事的男孩子，愿你是个爱听故事的女孩儿',
                    'classify': '程序员',
                    'experience': '33',
                    'score': '100'
                },
                {
                    'id': '1',
                    'username': 'bell',
                    'sex': '女',
                    'city': '北京',
                    'sign': '我是个说故事的男孩子，愿你是个爱听故事的女孩儿',
                    'classify': '程序员',
                    'experience': '33',
                    'score': '100'
                },
            ]
            , page: true
        });
        //监听行工具事件
        table.on('tool(fastui-selftable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                layer.prompt({
                    formType: 2,
                    value: data.city
                }, function (value, index) {
                    obj.update({
                        city: value
                    });
                    layer.close(index);
                });
            }
        });


    });
</script>