<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>FastUI</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/admin.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/fastui.css"/>
</head>

<body>
<div class="fastui-screen">
    <header class="fastui-header">
        <div class="fastui-logo">
            <img src="../../static/images/logo.png"/>
            <span>财务中台</span>
        </div>
        <ul class="layui-nav fastui-menubar">
            <li class="layui-nav-item layui-this">
                <a href="ucuser.html">我的</a>
            </li>
            <li class="layui-nav-item">
                <a href="appadmin.html">管理</a>
            </li>
        </ul>
        <ul class="layui-nav fastui-usercenter" lay-filter="user_operation">
            <li class="layui-nav-item fastui-product">
                <a href="javascript:void(0);"><i class="layui-icon">&#xe653;</i>我的应用</a>
            </li>
            <li class="layui-nav-item fastui-product">
                <a href="javascript:void(0);"><i class="layui-icon">&#xe66f;</i>龙斌</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="#">个人设置</a>
                    </dd>
                    <dd>
                        <a href="login.html">退出系统</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </header>
    <div class="fastui-twomenu-bg">
        <ul class="fastui-menu-wrapper">
            <li><a href="ucuser.html">首页</a></li>
            <li>
                <a href="javascrpt:;">消息<i class="layui-icon">&#xe625;</i></a>
                <ul class="fastui-two-menu">
                    <li><a href="news.html">收到消息</a></li>
                    <li><a href="sendnew.html">发送消息</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">日志<i class="layui-icon">&#xe625;</i></a>
                <ul class="fastui-two-menu">
                    <li><a href="loginlog.html">登录日志</a></li>
                    <li><a href="sendnew.html">操作日志</a></li>
                </ul>
            </li>
            <li><a href="single.html">设置</a></li>
        </ul>
    </div>
    <div class="fastui-single-content">
        <div class="layui-row layui-col-space20">
            <div class="layui-col-xs9">
                <div class="layui-card">
                    <div class="layui-card-header fastui-card-header">已授权应用</div>
                    <div class="layui-card-body layui-row fastui-app-body">
                        <dl class="layui-col-sm6 fastui-user-appicon">
                            <dt><img src="../../static/images/ucappicon/appicon.png"/></dt>
                            <dd>
                                <p><i>财务中台</i></p>
                                <p><strong>管理员</strong></p>
                                <p><span>该系统是关于统计某某某资金流水的什么什么系统</span></p>
                            </dd>
                        </dl>
                        <dl class="layui-col-sm6 fastui-user-appicon">
                            <dt><img src="../../static/images/ucappicon/appicon1.png"/></dt>
                            <dd>
                                <p><i>财务中台</i></p>
                                <p><strong>管理员</strong></p>
                                <p><span>该系统是关于统计某某某资金流水的什么什么系统</span></p>
                            </dd>
                        </dl>
                        <dl class="layui-col-sm6 fastui-user-appicon">
                            <dt><img src="../../static/images/ucappicon/appicon2.png"/></dt>
                            <dd>
                                <p><i>财务中台</i></p>
                                <p><strong>管理员</strong></p>
                                <p><span>该系统是关于统计某某某资金流水的什么什么系统</span></p>
                            </dd>
                        </dl>
                        <dl class="layui-col-sm6 fastui-user-appicon">
                            <dt><img src="../../static/images/ucappicon/appicon3.png"/></dt>
                            <dd>
                                <p><i>财务中台</i></p>
                                <p><strong>管理员</strong></p>
                                <p><span>该系统是关于统计某某某资金流水的什么什么系统</span></p>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="layui-card">
                    <div class="layui-card-header fastui-card-header">未授权应用</div>
                    <div class="layui-card-body layui-row fastui-unapp-body">
                        <dl class="layui-col-sm6 fastui-user-appicon">
                            <dt><img src="../../static/images/ucappicon/unappicon.jpg"/></dt>
                            <dd>
                                <p><i>财务中台</i></p>
                                <p><strong>未授权</strong></p>
                                <p><span>该系统是关于统计某某某资金流水的什么什么系统</span></p>
                            </dd>
                        </dl>
                        <dl class="layui-col-sm6 fastui-user-appicon">
                            <dt><img src="../../static/images/ucappicon/unappicon1.jpg"/></dt>
                            <dd>
                                <p><i>财务中台</i></p>
                                <p><strong>未授权</strong></p>
                                <p><span>该系统是关于统计某某某资金流水的什么什么系统</span></p>
                            </dd>
                        </dl>
                        <dl class="layui-col-sm6 fastui-user-appicon">
                            <dt><img src="../../static/images/ucappicon/unappicon2.jpg"/></dt>
                            <dd>
                                <p><i>财务中台</i></p>
                                <p><strong>未授权</strong></p>
                                <p><span>该系统是关于统计某某某资金流水的什么什么系统</span></p>
                            </dd>
                        </dl>
                        <dl class="layui-col-sm6 fastui-user-appicon">
                            <dt><img src="../../static/images/ucappicon/unappicon3.jpg"/></dt>
                            <dd>
                                <p><i>财务中台</i></p>
                                <p><strong>未授权</strong></p>
                                <p><span>该系统是关于统计某某某资金流水的什么什么系统</span></p>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="layui-col-xs3">
                <div class="layui-card">
                    <div class="layui-card-header">消息</div>
                    <div class="layui-card-body">
                        <ul class="fastui-msg-list">
                            <li>1.收件未读消息的展现，收到一条未读消息</li>
                            <li>1.收件未读消息的展现，收到一条未读消息</li>
                            <li>1.收件未读消息的展现，收到一条未读消息</li>
                            <li>1.收件未读消息的展现，收到一条未读消息</li>
                            <li>1.收件未读消息的展现，收到一条未读消息</li>
                            <li>1.收件未读消息的展现，收到一条未读消息</li>
                            <li>1.收件未读消息的展现，收到一条未读消息</li>
                            <li>1.收件未读消息的展现，收到一条未读消息</li>
                        </ul>
                        <p class="fastui-user-msg"><a href="news.html">查看更多>></a></p>
                    </div>
                </div>
                <div class="layui-card">
                    <div class="layui-card-header">日志</div>
                    <div class="layui-card-body">
                        <ul class="fastui-msg-list">
                            <li>1.收件未读消息的展现，收到一条未读消息</li>
                            <li>1.收件未读消息的展现，收到一条未读消息</li>
                            <li>1.收件未读消息的展现，收到一条未读消息</li>
                            <li>1.收件未读消息的展现，收到一条未读消息</li>
                            <li>1.收件未读消息的展现，收到一条未读消息</li>
                            <li>1.收件未读消息的展现，收到一条未读消息</li>
                            <li>1.收件未读消息的展现，收到一条未读消息</li>
                            <li>1.收件未读消息的展现，收到一条未读消息</li>
                        </ul>
                        <p class="fastui-user-msg"><a href="#">查看更多>></a></p>
                    </div>
                </div>
                <div class="layui-card">
                    <div class="layui-card-header">版本信息</div>
                    <div class="layui-card-body">
                        <table class="layui-table">
                            <colgroup>
                                <col width="100">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <td>当前版本</td>
                                <td>
                                    v1.0.0-beta
                                </td>
                            </tr>
                            <tr>
                                <td>发布日期</td>
                                <td>
                                    2018-11-20
                                </td>
                            </tr>
                            <tr>
                                <td>技术支持</td>
                                <td>
                                    xxx xxx
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fastui-footer">
				<span class="left">
				  <a href=""><i class="layui-icon">&#xe68e;</i>首页</a>
				  <span>&gt;</span>
				  <a href="">国际新闻</a>
				  <span>&gt;</span>
				  <a href="">亚太地区</a>
				</span>
        <span class="right">财务中台管理系统V1.0.0 Build 4564</span>
    </div>
</div>
</body>
<script src="../../static/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['jquery'], function ($) {
        $(".fastui-menu-wrapper li").hover(function () {
            $(this).find(".fastui-two-menu").stop().slideDown(200)
        }, function () {
            $(this).find(".fastui-two-menu").stop().slideUp(200)
        });

    });
</script>

</html>