<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yin.springboot.user.center.mapper.OauthCodeMapper">
  <resultMap id="BaseResultMap" type="com.yin.springboot.user.center.domain.OauthCode">
    <!--@mbg.generated generated on Thu Jul 11 11:29:40 CST 2019.-->
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="authentication" jdbcType="BLOB" property="authentication" />
  </resultMap>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated generated on Thu Jul 11 11:29:40 CST 2019.-->
    insert into oauth_code
    (code, authentication)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.code,jdbcType=VARCHAR}, #{item.authentication,jdbcType=BLOB})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="com.yin.springboot.user.center.domain.OauthCode">
    <!--@mbg.generated generated on Thu Jul 11 11:29:40 CST 2019.-->
    insert into oauth_code
    (code, authentication)
    values
    (#{code,jdbcType=VARCHAR}, #{authentication,jdbcType=BLOB})
    on duplicate key update 
    code = #{code,jdbcType=VARCHAR}, 
    authentication = #{authentication,jdbcType=BLOB}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="com.yin.springboot.user.center.domain.OauthCode">
    <!--@mbg.generated generated on Thu Jul 11 11:29:40 CST 2019.-->
    insert into oauth_code
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        code,
      </if>
      <if test="authentication != null">
        authentication,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="authentication != null">
        #{authentication,jdbcType=BLOB},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="authentication != null">
        authentication = #{authentication,jdbcType=BLOB},
      </if>
    </trim>
  </insert>
</mapper>