<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>表格-单页面</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/admin.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/fastui.css"/>
</head>
<body>
<div class="fastui-screen">
    <header class="fastui-header">
        <div class="fastui-logo">
            <img src="../../static/images/logo.png"/>
            <span>财务中台</span>
        </div>
        <ul class="layui-nav fastui-menubar">
            <li class="layui-nav-item">
                <a href="../index.html">首页</a>
            </li>
            <li class="layui-nav-item layui-this">
                <a href="../single.html">单页面</a>
            </li>
            <!--<li class="layui-nav-item"><span></span></li>-->
            <li class="layui-nav-item">
                <a href="../window.html">多窗口</a>
            </li>
            <li class="layui-nav-item">
                <a href="../ucproject/ucuser.html">用户中心</a>
            </li>
        </ul>
        <ul class="layui-nav fastui-usercenter" lay-filter="user_operation">
            <li class="layui-nav-item fastui-product">
                <a href="javascript:void(0);"><i class="layui-icon">&#xe653;</i>我的应用</a>
            </li>
            <li class="layui-nav-item fastui-product">
                <a href="javascript:void(0);"><i class="layui-icon">&#xe66f;</i>龙斌</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="#">个人设置</a>
                    </dd>
                    <dd>
                        <a href="login.html">退出系统</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </header>
    <div class="fastui-twomenu-bg">
        <ul class="fastui-menu-wrapper">
            <li><a href="../single.html">首页</a></li>
            <li>
                <a href="#">表格<i class="layui-icon">&#xe625;</i></a>
                <ul class="fastui-two-menu">
                    <li><a href="table.html">表格</a></li>
                    <li><a href="table1.html">大表格</a></li>
                </ul>
            </li>
            <li>
                <a href="#">表单<i class="layui-icon">&#xe625;</i></a>
                <ul class="fastui-two-menu">
                    <li><a href="form.html">表单</a></li>
                    <li><a href="contract.html">合同</a></li>
                    <li><a href="form1.html">大表单</a></li>
                    <li><a href="form2.html">表单帮助</a></li>
                </ul>
            </li>
            <li><a href="bill.html">付款单</a></li>
            <li><a href="#">订单</a></li>
            <li>
                <a href="#">错误页面<i class="layui-icon">&#xe625;</i></a>
                <ul class="fastui-two-menu">
                    <li><a href="404.html">404</a></li>
                    <li><a href="500.html">500</a></li>
                    <li><a href="nodata.html">无权限</a></li>
                    <li><a href="load.html">加载中</a></li>
                    <li><a href="develop.html">开发中</a></li>
                </ul>
            </li>
            <li><span></span></li>
            <li><a href="#">记录</a></li>
        </ul>
    </div>
    <div class="layui-row fastui-single-content">
        <div class="layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header fastui-card-header">表格</div>
                <div class="layui-card-body fastui-content-style">
                    <table class="layui-hide" id="fastui-single-tooltable" lay-filter="fastui-single-tooltable"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fastui-footer">
			<span class="left">
			  <a href=""><i class="layui-icon">&#xe68e;</i>首页</a>
			  <span>&gt;</span>
			  <a href="">国际新闻</a>
			  <span>&gt;</span>
			  <a href="">亚太地区</a>
			</span>
    <span class="right">财务中台管理系统V1.0.0 Build 4564</span>
</div>
<script type="text/html" id="single-toolbarDemo">
    <div class="layui-row">
        <div class="fastui-toolbar-btn">
            <div class="layui-row">
                <button class="layui-btn layui-btn-normal fastui-btn-slide left"><i
                        class="layui-icon">&#xe615;</i>搜索<span class="layui-badge fastui-badge">1</span></button>
                <button class="layui-btn  layui-btn-normal right"><i class="layui-icon">&#xe654;</i>添加</button>
                <div class="layui-btn-group right" style="margin-right: 8px;">
                    <button class="layui-btn fastui-btn fastui-btn-blue"><i class="layui-icon">&#xe654;</i>增加</button>
                    <button class="layui-btn fastui-btn fastui-btn-org"><i class="layui-icon">&#xe642;</i>编辑</button>
                    <button class="layui-btn fastui-btn fastui-btn-warn"><i class="layui-icon">&#xe60a;</i>查看</button>
                    <button class="layui-btn fastui-btn fastui-btn-green"><i class="layui-icon">&#xe640;</i>删除</button>
                </div>
            </div>
            <div class="fastui-seacher-up layui-row">
                <div class="fastui-seacher-hide">点击收起<i class="layui-icon">&#xe619;</i></div>
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label">搜索框:</label>
                        <div class="layui-input-block">
                            <ul class="fastui-seacher-ullist">
                                <li><a href="#">全部</a></li>
                                <li><a class="fastui-this" href="#">未开课</a></li>
                                <li><a href="#">已开课</a></li>
                                <li><a href="#">未开班</a></li>
                                <li><a href="#">已开班</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">客户来源:</label>
                        <div class="layui-input-block">
                            <ul class="fastui-seacher-ullist">
                                <li><a class="fastui-this" href="#">全部</a></li>
                                <li><a href="#">地推</a></li>
                                <li><a href="#">网络</a></li>
                                <li><a href="#">渠道</a></li>
                                <li><a href="#">转介绍</a></li>
                                <li><a href="#">直访</a></li>
                                <li><a href="#">拉访</a></li>
                                <li><a href="#">来电</a></li>
                                <li><a href="#">收购</a></li>
                                <li><a href="#">团购</a></li>
                                <li><a href="#">其他</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">星期多选:</label>
                            <div class="layui-input-block">
                                <input type="checkbox" name="" lay-skin="primary" title="周一">
                                <input type="checkbox" name="" lay-skin="primary" title="周二">
                                <input type="checkbox" name="" lay-skin="primary" title="周三">
                                <input type="checkbox" name="" lay-skin="primary" title="周四" checked="">
                                <input type="checkbox" name="" lay-skin="primary" title="周五">
                                <input type="checkbox" name="" lay-skin="primary" title="周六">
                                <input type="checkbox" name="" lay-skin="primary" title="周日" checked="">
                                <input type="checkbox" name="" lay-skin="primary" title="全部">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">搜索框:</label>
                            <div class="layui-input-block">
                                <div class="layui-input-inline" style="width: 115px;">
                                    <input type="text" name="phone" id="sousuo" autocomplete="off" placeholder="请搜索手机号"
                                           class="layui-input">
                                </div>
                                <div class="layui-input-inline" style="width: 180px;">
                                    <input type="text" name="identity" autocomplete="off" placeholder="请搜索身份证号"
                                           class="layui-input">
                                </div>
                                <div class="layui-input-inline">
                                    <input class="layui-input" type="text" name="title" value="" autocomplete="off"
                                           placeholder="请输入校区名称"/>
                                </div>
                                <div class="layui-input-inline">
                                    <select>
                                        <option value="">请选择状态</option>
                                        <option value="杭州">杭州</option>
                                        <option value="温州">温州</option>
                                        <option value="温州">台州</option>
                                        <option value="温州">绍兴</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">日期:</label>
                            <div class="layui-input-block">
                                <div class="layui-input-inline" style="width: 115px;">
                                    <input class="layui-input" type="text" id="fastui-seacher-date3" name=""
                                           autocomplete="off" placeholder="请搜索日期" value=""/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">日期范围:</label>
                            <div class="layui-input-block">
                                <div class="layui-input-inline" style="width: 200px;">
                                    <input class="layui-input" type="text" id="fastui-seacher-date4" name=""
                                           autocomplete="off" placeholder="请搜索日期" value=""/>
                                </div>
                                <div class="layui-input-inline">
                                    <button class="layui-btn fastui-btn" id="chaxun">查询</button>
                                    <button class="layui-btn layui-btn-primary">重置</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="fastui-single-toolbar">
    <a lay-event="edit"><i class="layui-icon" style="color: #5582E9;">&#xe642;</i></a>
    <a lay-event="del"><i class="layui-icon" style="color: #5582E9;">&#xe640;</i></a>
</script>
<script type="text/html" id="setsex">
    <select>
        <option value=""></option>
        <option value="父子">父子</option>
        <option value="母子">母子</option>
        <option value="姐弟">姐弟</option>
        <option value="弟弟">弟弟</option>
    </select>
</script>
<script type="text/html" id="tabledate">
    <input type="text" class="layui-input fastui-table-date" id="" placeholder="2018-09-08" value=""/>
</script>
<script src="../../static/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['jquery', 'form', 'laydate', 'layedit', 'table'], function ($) {
        var form = layui.form,
            laydate = layui.laydate,
            table = layui.table,
            layedit = layui.layedit;


        form.render();
        table.render({
            elem: '#fastui-single-tooltable'
            , toolbar: '#single-toolbarDemo'
            , size: 'sm'
            , cellMinWidth: 80
            , cols: [[
                {type: 'checkbox'}
                , {field: 'id', title: 'ID', width: 80}
                , {field: 'username', title: '用户名', edit: 'text'}
                , {field: 'sex', title: '性别', templet: '#setsex'}
                , {field: 'city', title: '城市', event: 'city'}
                , {field: 'sign', title: '签名', edit: 'text'}
                , {field: 'date', title: '日期', templet: '#tabledate'}
                , {field: 'experience', title: '积分', edit: 'text'}
                , {field: 'score', title: '评分', edit: 'text'}
                , {title: '操作', toolbar: '#fastui-single-toolbar'}
            ]]
            , data: [
                {
                    'id': '1',
                    'username': 'bell',
                    'sex': '女',
                    'city': '北京',
                    'sign': '我是个说故事的男孩子，愿你是个爱听故事的女孩儿',
                    'experience': '33',
                    'score': '100'
                },
                {
                    'id': '1',
                    'username': 'bell',
                    'sex': '女',
                    'city': '北京',
                    'sign': '我是个说故事的男孩子，愿你是个爱听故事的女孩儿',
                    'experience': '33',
                    'score': '100'
                },
                {
                    'id': '1',
                    'username': 'bell',
                    'sex': '女',
                    'city': '北京',
                    'sign': '我是个说故事的男孩子',
                    'experience': '33',
                    'score': '100'
                },
                {
                    'id': '1',
                    'username': 'bell',
                    'sex': '女',
                    'city': '北京',
                    'sign': '我是个说故事的男孩子，愿你是个爱听故事的女孩儿',
                    'experience': '33',
                    'score': '100'
                },
                {
                    'id': '1',
                    'username': 'bell',
                    'sex': '我是个说故事的男孩子，愿你是个爱听故事的女孩儿',
                    'city': '北京',
                    'sign': '我是个说故事的男孩子，愿你是个爱听故事的女孩儿',
                    'experience': '33',
                    'score': '100'
                },
                {
                    'id': '1',
                    'username': 'bell',
                    'sex': '我是个说故事的男孩子，愿你是个爱听故事的女孩儿',
                    'city': '北京',
                    'sign': '我是个说故事的男孩子，愿你是个爱听故事的女孩儿',
                    'experience': '33',
                    'score': '100'
                }
            ]
            , page: true
        })

        //监听行工具事件
        table.on('tool(fastui-single-tooltable)', function (obj) {
            var data = obj.data,
                value = obj.value,
                field = obj.field;
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                });
            } else if (obj.event === 'city') {
                layer.prompt({
                    formType: 2,
                    value: data.city
                }, function (value, index) {
                    obj.update({
                        city: value
                    });
                    layer.close(index);
                });
            }

        });

        $(".fastui-toolbar-btn .fastui-btn-slide").click(function () {
            $(".fastui-seacher-up").stop().slideToggle(500);
        })
        $(".fastui-seacher-hide").click(function () {
            $(".fastui-seacher-up").stop().slideUp(500);
        })

        laydate.render({
            elem: '#fastui-seacher-date4'
            , range: true
        });
        $('.fastui-table-date').each(function () {
            laydate.render({
                elem: this,
                trigger: 'click'
            });
        })
        $(".fastui-menu-wrapper li").hover(function () {
            $(this).find(".fastui-two-menu").stop().slideDown(200)
        }, function () {
            $(this).find(".fastui-two-menu").stop().slideUp(200)
        })
    });
</script>
</body>
</html>