<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yin.springboot.mybatis.mapper.PdmanDbVersionMapper">
  <resultMap id="BaseResultMap" type="com.yin.springboot.mybatis.domain.PdmanDbVersion">
    <!--@mbg.generated-->
    <result column="DB_VERSION" jdbcType="VARCHAR" property="dbVersion" />
    <result column="VERSION_DESC" jdbcType="VARCHAR" property="versionDesc" />
    <result column="CREATED_TIME" jdbcType="VARCHAR" property="createdTime" />
  </resultMap>
  <insert id="insert" parameterType="com.yin.springboot.mybatis.domain.PdmanDbVersion">
    <!--@mbg.generated-->
    insert into pdman_db_version (DB_VERSION, VERSION_DESC, CREATED_TIME
      )
    values (#{dbVersion,jdbcType=VARCHAR}, #{versionDesc,jdbcType=VARCHAR}, #{createdTime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yin.springboot.mybatis.domain.PdmanDbVersion">
    <!--@mbg.generated-->
    insert into pdman_db_version
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dbVersion != null">
        DB_VERSION,
      </if>
      <if test="versionDesc != null">
        VERSION_DESC,
      </if>
      <if test="createdTime != null">
        CREATED_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dbVersion != null">
        #{dbVersion,jdbcType=VARCHAR},
      </if>
      <if test="versionDesc != null">
        #{versionDesc,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into pdman_db_version
    (DB_VERSION, VERSION_DESC, CREATED_TIME)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.dbVersion,jdbcType=VARCHAR}, #{item.versionDesc,jdbcType=VARCHAR}, #{item.createdTime,jdbcType=VARCHAR}
        )
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="com.yin.springboot.mybatis.domain.PdmanDbVersion">
    <!--@mbg.generated-->
    insert into pdman_db_version
    (DB_VERSION, VERSION_DESC, CREATED_TIME)
    values
    (#{dbVersion,jdbcType=VARCHAR}, #{versionDesc,jdbcType=VARCHAR}, #{createdTime,jdbcType=VARCHAR}
      )
    on duplicate key update 
    DB_VERSION = #{dbVersion,jdbcType=VARCHAR}, 
    VERSION_DESC = #{versionDesc,jdbcType=VARCHAR}, 
    CREATED_TIME = #{createdTime,jdbcType=VARCHAR}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="com.yin.springboot.mybatis.domain.PdmanDbVersion">
    <!--@mbg.generated-->
    insert into pdman_db_version
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dbVersion != null">
        DB_VERSION,
      </if>
      <if test="versionDesc != null">
        VERSION_DESC,
      </if>
      <if test="createdTime != null">
        CREATED_TIME,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dbVersion != null">
        #{dbVersion,jdbcType=VARCHAR},
      </if>
      <if test="versionDesc != null">
        #{versionDesc,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=VARCHAR},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="dbVersion != null">
        DB_VERSION = #{dbVersion,jdbcType=VARCHAR},
      </if>
      <if test="versionDesc != null">
        VERSION_DESC = #{versionDesc,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        CREATED_TIME = #{createdTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>